.Footer {
  position: fixed;
  bottom: 0;
  background-color: #0069ff;
  color: ghostwhite;
  width: 100%;
  padding: 20px 0;
  text-align: center;
}

.bang {
  background-color: grey;
  transform: scaleX(2);
}